@use '@shared/styles/variables' as *;

.emptyPage {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  padding: 24px;

  .content {
    text-align: center;

    h1 {
      font-size: 32px;
      font-weight: 700;
      color: $color-text-primary;
      margin: 0 0 16px 0;
    }

    p {
      font-size: 16px;
      color: $color-text-secondary;
      margin: 0;
    }
  }
}

